<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>微信分销</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--<script src="adapter.js"></script>-->
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=btsVVWf0TM1zUBEbzFz6QqWF"></script>
    <!-- Bootstrap -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        html{font-size:10px}
        @media screen and (min-width:321px) and (max-width:375px){html{font-size:16.5px}}
        @media screen and (min-width:376px) and (max-width:414px){html{font-size:18px}}
        @media screen and (min-width:415px) and (max-width:639px){html{font-size:22.5px}}
        /*@media screen and (min-width:640px) and (max-width:719px){html{font-size:30px}}*/
        /*@media screen and (min-width:720px) and (max-width:749px){html{font-size:33.75px}}*/
        /*@media screen and (min-width:750px) and (max-width:799px){html{font-size:25.25px}}*/
        /*@media screen and (min-width:800px){html{font-size:25px}}*/
        @media screen and (min-width:640px){html{font-size:25px}}
    </style>

</head>
<body>
<div id="app"></div>
<!--<script src="es5-shim.min.js"></script>-->
<!--<script src="es5-sham.min.js"></script>-->
</body>

</html>
